.resource-card {
  border: none;
  box-shadow: none;
}


.resource-card table thead th {
  background-color: #f8fbff !important;
  border-bottom: none;
}




.resource-card table tbody,
.resource-card table tr {
  background-color: transparent !important;
  border-bottom: transparent;
}

/* Override Bootstrap's variable for striped background */
.resource-card table.table-striped {
  --bs-table-striped-bg: #f0f8fc !important;   /* Even rows */
}

/* For odd rows, which you want as white, set the cell background: */
.resource-card table.table-striped > tbody > tr:nth-of-type(odd) > td {
  background-color: #f0f8fc !important;           /* Odd rows */
}


.project-link {
    color: #2f72f4;
    text-decoration: underline;
    cursor: pointer;
}

/* Style the icons inside btn-link buttons */
.btn-link i {
    color: #6c757d !important;
    font-size: 16px;
}


