.container {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
}
.table th,
.table td {
  vertical-align: middle;
}
.card {
  border: 1px solid #ccc;
}
.text-primary {
  color: #0d6efd !important;
}
h5 {
  letter-spacing: 0.3px;
}
button.btn-outline-secondary {
  min-width: 100px;
}
