<div class="cozentus-bg container-fluid">
  <header class="row w-100 align-items-center h-100 pb-2">
    <!-- Left: Logo -->
    <div class="col-6">
 <img src="https://www.cozentus.com/assets/images/footer-logo.webp" alt="Logo" height="25" class="me-2">



    </div>

    <!-- Right: User Info -->
    <div class="col-6 col-md-6 text-end">
      <div class="ms-auto dropdown">
        <button class="btn" type="button" id="userDropdown" (click)="toggleDropdown()">
          <span class="rounded-circle me-2 avatar-circle align-middle">
            {{userInitials}}
          </span>
          <span class="text-white fs-6">{{userName}}</span>
          <i class="fa-solid fa-chevron-down ms-2 text-white"></i>
        </button>
      </div>

      <ul #dropdownMenu class="dropdown-menu dropdown-menu-end custom-dropdown shadow-lg mt-2"
        [class.show]="isDropdownOpen">

        <li>
          <a class="dropdown-item text-white d-flex align-items-center py-2 custom-dropdown-item"
            href="javascript:void(0)" (click)="changePassword()">
            <i class="fa-thin fa-key me-3"></i> Change Password
          </a>
        </li>
        <li>
          <a class="dropdown-item text-white d-flex align-items-center py-2 custom-dropdown-item"
            href="javascript:void(0)" (click)="signOut()">
            <i class="fa-thin fa-power-off me-3"></i> Sign Out
          </a>
        </li>
      </ul>
    </div>
  </header>

  <ng-container *ngIf="isManagerRoute()">
      <nav class="navbar navbar-collapse ms-2 row">
    <ul class="nav nav-pills gap-4">
      <li class="nav-item">
        <a class="nav-link text-white" href="#" role="button" routerLinkActive="active" [routerLink]="[getManagerBaseRoute(), 'dashboard']"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-solid fa-objects-column me-2"></i> Dashboard
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white" href="#" role="button" routerLinkActive="active" [routerLink]="[getManagerBaseRoute(),'project-list']"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-regular fa-file-pen me-2"></i> Project List
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white" role="button" routerLinkActive="active"
          [routerLink]="[getManagerBaseRoute(),'resource']" [routerLinkActiveOptions]="{ exact: true }">
          <i class="far fa-notes me-2"></i> Resource
        </a>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link text-white" href="#" id="coursesDropdown" role="button" routerLinkActive="active"
           [routerLink]="[getManagerBaseRoute(),'time-sheet']" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-light fa-user-graduate me-2"></i>Time Sheet
        </a>
      </li>

              <li class="nav-item" *ngIf="isDeliveryManager()">
          <a class="nav-link text-white" routerLinkActive="active"
             [routerLink]="[getManagerBaseRoute(),'project-type-master']"
             [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa-solid fa-list-check me-2"></i> Master
          </a>
        </li>

      <!-- <li class="nav-item dropdown">
        <a class="nav-link text-white" href="#" id="coursesDropdown" role="button" routerLinkActive="active"
          routerLink="/admin/topics" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-light fa-user-graduate me-2"></i>Topics
        </a>
      </li> -->
      <!-- Regular Pills -->


    </ul>

  </nav>

  </ng-container>


   <ng-container *ngIf="isResourceRoute()">
      <nav class="navbar navbar-collapse ms-2 row">
    <ul class="nav nav-pills gap-4">
      <li class="nav-item">
        <a class="nav-link text-white" href="#" role="button" routerLinkActive="active" routerLink="/resource/dashboard"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-solid fa-objects-column me-2"></i> Dashboard
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white" href="#" role="button" routerLinkActive="active" routerLink="/resource/time-sheet"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-regular fa-file-pen me-2"></i> Time Sheet
        </a>
      </li>
    </ul>
  </nav>
  </ng-container>
</div>
